feed xmlns='http://www.w3.org/2005/Atom'
  title= 'hogemoge'
  updated= items[0][:updated]
  link rel='self' href='hogemoge'
  author
    name= 'hogemoge'
  - items.each do |item|
    entry
      title= item[:title]
      updated= item[:updated]
      author
        name= 'hogemoge'
      link href=item[:url]+'&hoge=moge'
      content type="html"
        = item[:content]
